#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.game {
  width: 1200px;
  height: 800px;
  background-color: white;
  margin: auto;
  position: relative;
}

.find {
  position: absolute;
  margin: none;
  bottom: 0;
}

.ghost {
  height: 75px;
}

.path {
  border: black 1px solid;
  height: 800px;

}
.death {
  background-color: black;
}
.row {
  width: 100%;
  display: flex;
}

.hintChild {
  flex-wrap: wrap;
}
.hintContainer{
  display: flex;
  background-color: rgb(156, 154, 154);
}
.hintButton{
  position: relative;
  height: 25px;
  left: 100px;
  margin: 5px;
}

.find a,
.find a:visited {
  color: white;
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: black
}

.header {
  background-color: #ebc334;
  height: 120px;
  width: 100%;
  margin: none;
}

.header h1 {
  text-align: center;
  font-size: 85px;
  line-height: 120px;
  margin-top: 0;
}

#yellow {
  color: #ebc334;
}
