body {
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.game {
  width: 1500px;
  height: 1000px;
  background-color: white;
  margin: none;
}

.find {
  margin: none;
  bottom: 0;
  position: fixed;
}

.find a,
.find a:visited {
  color: white;
  text-decoration: none;
}

.hintChild {
  flex-wrap: wrap;
}
.hintContainer{
  display: flex;
  background-color: rgb(156, 154, 154);
}
.hintButton{
  position: relative;
  height: 25px;
  left: 100px;
  margin: 5px;
}

.find a,
.find a:visited {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #ebc334;
  height: 120px;
  width: 100%;
  margin: none;
}

.header h1 {
  text-align: center;
  font-size: 85px;
  line-height: 120px;
  margin-top: 0;
}
